<h1 class = "text-center">All Articles</h1>
<% @articles.each do |article| %>
  <div class="card text-center w-50 mx-auto">
    <div class="card-header">
      <p>By Sajjad Ahmad</p>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= link_to article.title, article, class: 'text-success' %></h5>
      <p class="card-text"><%= article.description %></p>
      <%= link_to "View", article, class: 'btn btn-outline-success' %>
      <%= link_to "Edit", edit_article_path(article), class: 'btn btn-outline-primary' %>
      <%= link_to "Delete", article_path(article), method: :delete, class: 'btn btn-outline-danger' %>
    </div>
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>
  <br>
<% end %>
