<h1>Articles</h1>
<table>
  <thead>
    <tr>
      <th>
        Title
      </th>
      <th>
        Discription
      </th>
      <th>
        Show
      </th>
      <th>
        Edit
      </th>
      <th>
        Delete
      </th>
    </tr>
    <thead>
      <% @articles.each do |article| %>
        <tbody>
          <tr>
            <td><%= article.title %></td>
            <td><%= article.description %></td>
            <td><%= link_to "show", article %>
              <td><%= link_to "edit", edit_article_path(article) %>
                <td><%= link_to "delete", article_path(article), method: :delete %>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br>
          <%= link_to "Create new Article", new_article_path %>
